@model OxyNode.Models.KB_answer
@using System.Web;
@{
    ViewData["Title"] = "Admin | QA | One answer";
}


<h4> Ответ: </h4>
<hr />

<div>

    <div>Id вопроса: <a asp-area="admin" asp-controller="EditQuestions" asp-action="ReadOneQuestion" asp-route-questionId="@ViewData["questionId"]">@ViewData["questionId"]</a></div>
    <div>
        Содержание:
        @ViewData["questionText"]
    </div>
    <br />
    <br />

    <div>Id ответа: @Model.Id </div>
    <div>Ответ: @Model.answerText</div>
    @if (Model.publishToSite == false)
    {
        <input type="checkbox" id="_publishQA" />
    }
    else
    {
        <input type="checkbox" checked id="_publishQA" />
    }
    <label for="_publishQA">Опубликовать на сайт</label>

    <div><a asp-area="admin" asp-controller="EditAnswers" asp-action="DeleteAnswer" asp-route-answerId="@Model.Id">Удалить ответ</a></div>
    <br />
    <br />
</div>

<script>
    var iQA = document.getElementById("_publishQA");

    iQA.onchange = function () {
        var request = new XMLHttpRequest();

        if (iQA.checked) {
            // опубликовать
            //console.log(iQA.value);
            console.log("опубликовать");
            let url = "PublishQuestionAnswer?answerId=" + "@HttpUtility.JavaScriptStringEncode(Model.Id)";
            request.open("POST", url);
            request.send();
        }
        else {
            // скрыть
            //console.log(iQA.value);
            console.log("скрыть");
            let url = "HideQuestionAnswer?answerId=" + "@HttpUtility.JavaScriptStringEncode(Model.Id)";
            request.open("POST", url);
            request.send();
        }
    }
</script>

