@model OxyNode.Models.KB_QA

@{
    ViewData["Title"] = "Admin | QA | Edit one QA";
}

<h4> Редактирование QA</h4>
<hr />

<div>
    <div>Id вопрос-ответа: @Model.Id</div>
</div>
 
<form asp-area="admin" asp-controller="EditQAs" asp-action="EditOneQA" method="post">
    <div>
        <div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input type="hidden" asp-for="Id" value="@Model.Id" />
                <input type="hidden" asp-for="publishToSite" value="@Model.publishToSite" />

                <input type="hidden" asp-for="FullName" value="@Model.FullName" />
                <input type="hidden" asp-for="Address" value="@Model.Address" />
                <input type="hidden" asp-for="e_mail" value="@Model.e_mail" />
                <input type="hidden" asp-for="questionText" value="@Model.questionText" />

                <table>
                    <tr>
                        <td><label asp-for="FullName" class="control-label"></label></td>
                        <td><input asp-for="FullName" class="form-control" value="@Model.FullName"/><span asp-validation-for="FullName" class="text-danger"></span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="Address" class="control-label"></label></td>
                        <td><input asp-for="Address" class="form-control" value="@Model.Address"/><span asp-validation-for="Address" class="text-danger"></span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="e_mail" class="control-label"></label></td>
                        <td><input asp-for="e_mail" class="form-control" value="@Model.e_mail"/><span asp-validation-for="e_mail" class="text-danger"></span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="questionText" class="control-label"></label></td>
                        <td><textarea asp-for="questionText" class="form-control" value="@Model.questionText"></textarea><span asp-validation-for="questionText" class="text-danger"></span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="answerText" class="control-label"></label></td>
                        <td><textarea asp-for="answerText" class="form-control" value="@Model.answerText"></textarea><span asp-validation-for="answerText" class="text-danger"></span></td>
                    </tr>
                </table>
            </div>

            <div class="form-group">
                <input type="submit" value="Сохранить" />
            </div>
        </div>
    </div>
</form>