@model OxyNode.ViewModels.RegularDocumentsViewModel

@{
    ViewData["Title"] = "OxyNode | Regular Documents";
}

@Html.Raw(Model.globalDescription)

<table>
    @if (Model.regularDocuments != null && Model.regularDocuments.Count > 0)
    {
        @foreach (var rd in Model.regularDocuments)
        {
            <tr style="@rd.rd_fieldCssColor">
                <td>
                    <img src="@rd.rd_IconPath" width="50" height="50" />
                </td>
                <td>
                    <a href="@rd.rd_Path">@rd.rd_Name</a>
                </td>
            </tr>
            <tr style="@rd.rd_fieldCssColor">
                <td></td>
                <td>
                    <div>@rd.rd_ShortDescription</div>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>Нормативных документов нет</td>
        </tr>
    }
</table>