@model OxyNode.Models.KB_industrySolution

@{
    ViewData["Title"] = "Admin | Industry Solutions | Read";
}


<h4>Файл в "Отраслевые решения"</h4>
<hr />


<table>
    <tr>
        <td>
            <img src="@Model.is_IconPath" width="50" height="50" />
        </td>
        <td>
            <a href="@Model.is_Path">@Model.is_Name</a>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div>@Model.is_ShortDescription</div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td><a asp-area="admin" asp-controller="EditIndustrySolutions" asp-action="UpdateIndustrySolution" asp-route-id="@Model.Id">Обновить файл отраслевого решения</a></td>
    </tr>
    <tr>
        <td></td>
        <td><a asp-area="admin" asp-controller="EditIndustrySolutions" asp-action="DeleteIndustrySolution" asp-route-id="@Model.Id">Удалить файл отраслевого решения</a></td>
    </tr>
</table>