@model OxyNode.ViewModels.IndustrySolutionsViewModel
@{
    ViewData["Title"] = "Admin | Industry Solutions | Read all";
}


<h4>Все файлы в "Отраслевые решения"</h4>
<hr />


@Html.Raw(Model.globalDescription)

<table style="background-color:lightgreen">
    @if (Model.industrySolutions != null && Model.industrySolutions.Count > 0)
    {
        @foreach (var IS in Model.industrySolutions)
        {

            <tr>
                <td>
                    <img src="@IS.is_IconPath" width="50" height="50" />
                </td>
                <td>
                    <a href="@IS.is_Path">@IS.is_Name</a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div>@IS.is_ShortDescription</div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><a asp-area="admin" asp-controller="EditIndustrySolutions" asp-action="UpdateIndustrySolution" asp-route-id="@IS.Id">Обновить файл отраслевого решения</a></td>
            </tr>
            <tr>
                <td></td>
                <td><a asp-area="admin" asp-controller="EditIndustrySolutions" asp-action="DeleteIndustrySolution" asp-route-id="@IS.Id">Удалить файл отраслевого решения</a></td>
            </tr>

        }
    }
    else
    {
        <tr>
            <td>Отраслевых решений нет</td>
        </tr>
    }
</table>