@model OxyNode.ViewModels.IndustrySolutionsViewModel

@{
    ViewData["Title"] = "OxyNode | Industry Solutions";
}

@Html.Raw(Model.globalDescription)

<table>
    @if (Model.industrySolutions != null && Model.industrySolutions.Count > 0)
    {
        @foreach (var indSol in Model.industrySolutions)
        {
            <tr style="@indSol.is_fieldCssColor">
                <td>
                    <img src="@indSol.is_IconPath" width="50" height="50" />
                </td>
                <td>
                    <a href="@indSol.is_Path">@indSol.is_Name</a>
                </td>
            </tr>
            <tr style="@indSol.is_fieldCssColor">
                <td></td>
                <td>
                    <div>@indSol.is_ShortDescription</div>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>Отраслевых решений нет</td>
        </tr>
    }
</table>

