@model OxyNode.Models.KB_regularDocument

@{
    ViewData["Title"] = "Admin | Regular Documents | Read";
}


<h4>Файл в "Нормативные документы"</h4>
<hr />


<table>
    <tr>
        <td>
            <img src="@Model.rd_IconPath" width="50" height="50" />
        </td>
        <td>
            <a href="@Model.rd_Path">@Model.rd_Name</a>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div>@Model.rd_ShortDescription</div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td><a asp-area="admin" asp-controller="EditRegularDocuments" asp-action="UpdateRegularDocument" asp-route-id="@Model.Id">Обновить файл нормативного документа</a></td>
    </tr>
    <tr>
        <td></td>
        <td><a asp-area="admin" asp-controller="EditRegularDocuments" asp-action="DeleteRegularDocument" asp-route-id="@Model.Id">Удалить файл нормативного документа</a></td>
    </tr>
</table>