@model OxyNode.ViewModels.RegularDocumentsViewModel

@{
    ViewData["Title"] = "Admin | Regular Documents | All";
}


<h4>Все файлы в "Нормативные документы"</h4>
<hr />


@Html.Raw(Model.globalDescription)

<table>
    @if (Model.regularDocuments != null && Model.regularDocuments.Count > 0)
    {
        @foreach (var rd in Model.regularDocuments)
        {

            <tr style="@rd.rd_fieldCssColor">
                <td>
                    <img src="@rd.rd_IconPath" width="50" height="50" />
                </td>
                <td>
                    <a href="@rd.rd_Path">@rd.rd_Name</a>
                </td>
            </tr>
            <tr style="@rd.rd_fieldCssColor">
                <td></td>
                <td>
                    <div>@rd.rd_ShortDescription</div>
                </td>
            </tr>
            <tr style="@rd.rd_fieldCssColor">
                <td></td>
                <td><a asp-area="admin" asp-controller="EditRegularDocuments" asp-action="ReadRegularDocument" asp-route-id="@rd.Id">Посмотреть файл нормативного документа</a></td>
            </tr>
            <tr style="@rd.rd_fieldCssColor">
                <td></td>
                <td><a asp-area="admin" asp-controller="EditRegularDocuments" asp-action="UpdateRegularDocument" asp-route-id="@rd.Id">Обновить файл нормативного документа</a></td>
            </tr>
            <tr style="@rd.rd_fieldCssColor">
                <td></td>
                <td><a asp-area="admin" asp-controller="EditRegularDocuments" asp-action="DeleteRegularDocument" asp-route-id="@rd.Id">Удалить файл нормативного документа</a></td>
            </tr>

        }
    }
    else
    {
        <tr>
            <td>Нормативных документов нет</td>
        </tr>
    }
</table>