@model OxyNode.ViewModels.NotesViewModel

@{
    ViewData["Title"] = "OxyNode | Notes";
}

<hr />
<div>
    @foreach (var note in Model.notes)
    {
        <a asp-controller="Notes" asp-action="ReadNote" asp-route-id="@note.Id">@note.note_NoteName</a>
        <div>
            @note.note_ShortDescription
        </div>
        <br />
    }

</div>

<div>
    Страница новости: @Model.currentPageNumber
</div>
<div>
    Всего новостей: @Model.notesCount
</div>