@model OxyNode.ViewModels.QuestionsViewModel

@{
    ViewData["Title"] = "Admin | QA | Read all questions";
}

<h3>QA: Все вопросы</h3>
<hr />

<div>
    @foreach (var q in Model.questions)
    {
        <p>
            <a asp-area="admin" asp-controller="EditQuestions" asp-action="ReadOneQuestion" asp-route-questionId="@q.Id">Вопрос: @q.Id</a>
            <div>Имя: @q.FullName</div>
            <div>Адрес: @q.Address </div>
            <div>E-mail: @q.e_mail</div>
            <div>
                Содержание:
                @q.questionText
            </div>
            @if(q.AnswerId != null)
            {
                <div>Id ответа: @q.AnswerId</div>
            }
            else
            {
                <div>Id ответа: нет</div>
            }

            <a asp-area="admin" asp-controller="EditQuestions" asp-action="AnsToQuestion" asp-route-questionId="@q.Id">Ответить на вопрос</a>
            <a asp-area="admin" asp-controller="EditQuestions" asp-action="DeleteQuestion" asp-route-questionId="@q.Id">Удалить вопрос</a>
            <br />
            <br />
        </p>
    }

</div>

<hr />
<div>
    Страница вопросов: @Model.currentPageNumber
</div>
<div>
    Всего вопросов: @Model.questionsCount
</div>


